.bodies{
  font-size: 20px;
  display: none;
  font-family: 'Lobster';
}
header{
  font-size: 50px;
  color: red;
  text-align: center;
  font-family: 'Lobster', cursive;
}
.senders{
  font-size: 26px;
  color: blue;
  font-family: 'Lobster', cursive;
  display: inline;
}
.senders:hover{
  background-color: black;
  display: inline;
}
.subjects{
  font-size: 20px;
  color: green;
  font-family: 'Lobster Two';
  padding: 1px;
  margin: 1px;
}
.dates{
  font-size: 15px;
  font-family: 'Lobster';
  margin-top: 15px;
  margin-bottom: 5px;
}
.newMsgBodyClass{
  display: none;
}
.countContainer{
font-size: 20px;
  color: red;
  font-family: 'Lobster Two';
  border: 1px solid red;
  border-radius: 30px;
  display: inline;
  margin-top: 15px;
  margin-bottom: 10px;
}
.parentClass{
    font-size: 20px;
  color: black;
  font-family: 'Lobster';
 /* float: right;*/
}
#msgTag{
  font-size: 20px;
  color: red;
  font-family: 'Lobster Two';
  display: inline;
}
.hrClass{
  width: 270px;
  margin: 0px;
}
.HRtag{
   width: 270px;
  margin: 0px;
}